.board-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.board {
  border: 1px solid #ebdddd;
  border-radius: 8px;
  padding: 1rem;
  width: 300px;
  background-color: #241c1c;
}

.board h3 {
  margin: 0 0 0.5rem 0;
}

.board p {
  margin: 0;
}
